<h1 style="color: blue;">id = <%= @task.id %>のタスク詳細ページ</h1>
　<table class="table table-bordered">
    <tr>
      <th>id</th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @task.status %></td>
    </tr>
    <tr>
      <th>タスク</th>
      <td><%= @task.content %></td>
    </tr>
  </table>

<a class="btn btn-info" href="<%= edit_task_path(@task) %>">
  <span class="glyphicon glyphicon-edit">
  このタスクを編集する
</a>
<span class="glyphicon glyphicon-trash">
<%= link_to 'このタスクを削除する', @task, method: :delete, data:{ confirm:'本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
</span>
